<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wolearning.areas.sysManage.mapper.mysql.ArticalContentMapper" >
    <resultMap id="articalContent" type="top.wolearning.areas.sysManage.entity.ArticalContent"
               extends="baseEntityMap"
    >
        <result column="editorType" property="editorType" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="isPublished" property="isPublished"  />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="tag" property="tag" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="baseEntityMap" type="top.wolearning.entity.BaseEntity">
        <result column="refid" property="refid" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_refid" property="createRefid" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_refid" property="modifyRefid" jdbcType="VARCHAR" />
        <result column="deleted" property="deleted" jdbcType="BIT" />
        <result column="version" property="version" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        refid, create_time, create_refid, modify_time, modify_refid, deleted, version,
        editorType, category,isPublished,content,tag, title
    </sql>


    <insert id="insertContent"
            parameterType="top.wolearning.areas.sysManage.entity.ArticalContent">
        insert into artical_content (
        <include refid="Base_Column_List"/>
        ) VALUES
        (
        #{refid}, #{createTime}, #{createRefid},#{modifyTime} , #{modifyRefid}, 0, 1,
        #{editorType}, #{category},#{isPublished}, #{content},#{tag},#{title}
        )
    </insert>

</mapper>